<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>{{appName}} - {{title}}</title>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <meta name="keywords" content="scenario, flow, chart, flowchart, user experience">
  <meta name="description" content="{{title}}">

  <link href="/img/icons/favicon.ico" rel="shortcut icon" type="image/x-icon">

  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-responsive.css"> -->

  <link href='http://fonts.googleapis.com/css?family=Exo+2:400,600,900,800,700,500' rel='stylesheet' type='text/css'/>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/fonts.css">
  <link rel="stylesheet" href="/css/splash.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/project.editor.css">

  <link rel="stylesheet" href="/css/views/articles.css">

<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

  <script data-main="js/main" src="lib/requirejs/require.js"></script>

</head>
